<div class="ppt">
  <div class="banner-outer">
    <div class="banner">
        <ul>
          <% @mubu.each do |mubu| %>
            <li>
              <div class="banner_item">
                <%= image_tag mubu.avatar_url(:big) %>

                <div class="info">
                  <h2 class="title"><%= mubu.title %></h2>
                  <p class="abstract"><%= mubu.abstract[0..50]+"......" %></p>
                </div>
              </div>

            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
