<%= stylesheet_link_tag 'home/product', 'data-turbolinks-track' => true %>

<div class="introduction">
  <!-- <div class="avatar">
    <%= image_tag @product.avatar_url(:large) %>
  </div> -->
  <h1><%= @product.name %></h1>

  <p>
    <%= raw @product.describe %>
  </p>
</div>
