// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'flat-ui';
h1{
  font-size: 45px;
}
.login_panel{
  width:35%;
  margin:0 auto;
}
.header{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 99;
}
.bodyer{
  .options{
    z-index: 0;
    width:250px;
    bottom:0;
    position: fixed;
    left:0;
    top:0;
    padding-top: 100px;
    ul{
      list-style: none;
      li{
        cursor:pointer;
        text-decoration:none;
      }
    }
  }
  .content{
    margin-top: 53px;
    margin-left: 300px;
    float:left;
  }
}
