// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'flat-ui';
@import 'unslider';
@import 'unslider-dots';

body{
  background: url(background.jpg);
}
.header{

  .logo{
    margin-top:20px;
    margin-left:20px;
  }
  .navbar{
    float:left;
    position :absolute;
    top:50px;
    left:200px;
    right:100px;
    // width:80%;
    // background-color: rgba(0,0,0,0);
  }
}
.bodyer{
  clear:both;
  .ppt{
    text-align: center;
    .banner_item{

      img{
        width:500px;
        height:500px;
        border-radius: 500px;
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
      }

      .info{
        width:auto;
        max-width: 350px;
        max-height: 500px;
        overflow: hidden;
        margin-left: 50px;
        display: inline-block;
        .title{
          margin-top: 20px;
          margin-bottom: 0px;
        }
        .abstract{
          margin-top: 5px;
        }
      }
    }
  }
}
