// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'flat-ui';
@import 'unslider';
@import 'unslider-dots';
.unslider-nav{
  display: none;
}
body{
  background: image-url("background1.jpg");
  background-size: cover;
  .btn{
    background-color: rgba(0,0,0,0);
    border:1px white solid;
  }
}
.header{

  .logo{
    margin-top:20px;
    margin-left:18px;
  }
  .fixed{
    right:10px;
    top:5px;
    position:absolute;
    img{
      border-radius: 100%;
    }
    .item{
      margin-left: 10px;
      float:left;
    }
  }
  .navbar{
    z-index: 99;
    float:left;
    position :absolute;
    top:50px;
    left:150px;
    right:100px;

    // width:80%;
    // background-color: rgba(0,0,0,0);
  }
  .navbar-default{
    background-color: rgba(0,0,0,0);
    border:1px white solid;
    li{
      background-color: rgba(0,0,0,0);
      a{
        color:white;
        border-radius: 6px;
      }
    }
    li:hover a{
      background-color: rgb(35, 103, 39);
      color:black;
    }
    li.active a{
      color:#5BC0DE;
      background-color: rgb(35, 103, 39);
    }
    li.active:hover a{
      background-color: rgb(35, 103, 39);
      color:white;
    }
  }
}
.bodyer{
  clear:both;
  margin-top: 5px;
  .options{
    float:left;
    width:20%;
    max-width: 120px;
    min-height: 500px;
    margin-top:10px;
    .option{
      margin-top: 10px;
      display: block;
      margin-left: 20px;
      cursor: pointer;
    }
  }
  .ppt{
    float:left;
    text-align: center;
    .banner_item{
      padding-top: 50px;
      padding-bottom: 500px;
      padding-left: 200px;
      .img{
        width:40%;
        float:left;
        margin-left: 20%;
        .bgd{
          z-index: 98;
          position: absolute;
          left:18%;
          margin-left: -80px;
          margin-top: -80px;
          width:600px;
          height:600px;
        }
        .mubu{
          position: absolute;
          left:18%;
          width:450px;
          height:450px;
          border-radius: 50%;
          // -webkit-border-radius: 500px;
          // -moz-border-radius: 500px;
        }
      }
      .info{
        float:left;
        color: white;
        width:auto;
        // width:40%;
        max-width: 350px;
        max-height: 500px;
        overflow: visible;
        margin-left: 550px;
        overflow: hidden;
        display: inline-block;
        .title{
          margin-top: 20px;
          margin-bottom: 0px;
          color:rgb(35, 103, 39);
        }
        .abstract{
          margin-top: 20px;
        }
      }
    }

  }
  .oppt{
    min-height: 500px;
    border-radius: 9px;
    border:1px solid white;
    background-color: rgba(0, 0, 0,0.3);
    color:white;
    margin-top: 20px;
    margin-left: 8%;
    padding: 10px;
    padding-top: 20px;
    width:70%;
    float:left;
    text-align: center;
    .item{
      float:left;
      margin-left: 12px;
      .img{
        border-radius: 9px;
        border-width:1px;
        img{
          border-radius: 9px;
        }
      }

      .title{
        text-align: center;
      }
      .more{

      }
    }
  }
  .content-side{
    // background: image-url("sy.png");
    background-repeat: repeat-y;
    position:absolute;
    right:20px;
    top:120px;
    width:80px;
    height:450px;
  }
}
.footer{
  padding-top: 20px;
  color:white;
  clear:both;
  text-align: center;
}
